/* General Styles */
.landing-container {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  

  
  .cta-button {
    background-color: #ff9800;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .cta-button:hover {
    background-color: #e68a00;
  }
  
  
  
  
  
  
  /* Footer */
  .cta-section {
    padding: 20px;
    background: #222;
    color: white;
  }
  